@model SistemaOrcamentario.Models.CategoriaModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>CategoriaModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CatNome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CatNome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CatIncPor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CatIncPor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CatIncEm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CatIncEm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CatAltPor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CatAltPor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CatAltEm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CatAltEm)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CatId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
