@model SistemaOrcamentario.Models.ProdutoModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>ProdutoModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProNome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProNome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProPreco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProPreco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProQuantidadeEmEstoque)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProQuantidadeEmEstoque)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProImagemUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProImagemUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProIncPor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProIncPor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProIncEm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProIncEm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProAltPor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProAltPor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProAltEm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProAltEm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categoria.CatNome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ProId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
