@model SistemaOrcamentario.Models.ViewProduto

@{
    ViewData["Title"] = "Atualizar Produto";
}

@{
    Layout = "_Layout";
}

@if (TempData["MessageErro"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" data-bs-dismiss="alert" arial-label="Close">X</button>
        @TempData["MessageErro"]
    </div>
}

<section id="basic-vertical-layouts">
    <div class="row match-height">
        <div class="col-md-6 col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Atualizar Produto</h4>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <form asp-action="Edit" class="form form-vertical" enctype="multipart/form-data">
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-12">
                                        <h6>Código</h6>
                                        <div class="form-group position-relative has-icon-left">
                                            <input class="form-control" asp-for="Produtos.ProId" readonly/>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group has-icon-left">
                                            <label for="first-name-icon">Cateogira</label>
                                            <div class="position-relative">
                                                <input class="form-control" asp-for="Produtos.CatId" readonly/>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div class="form-group has-icon-left">
                                            <label for="first-name-icon">Nome</label>
                                            <div class="position-relative">
                                                <input asp-for="Produtos.ProNome" required type="text" class="form-control" placeholder="Nome do produto" id="first-name-icon">
                                                @Html.ValidationMessageFor(model => model.Produtos.ProNome, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div class="form-group has-icon-left">
                                            <label for="first-name-icon">Descrição</label>
                                            <div class="position-relative">
                                                <input asp-for="Produtos.ProDesc" required type="text" class="form-control" placeholder="Descrição do produto" id="first-name-icon">
                                                @Html.ValidationMessageFor(model => model.Produtos.ProDesc, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div class="form-group has-icon-left">
                                            <label for="first-name-icon">Valor R$</label>
                                            <div class="position-relative">
                                                <input id="preco" asp-for="Produtos.ProPreco" required type="text" class="form-control" placeholder="R$">
                                                @Html.ValidationMessageFor(model => model.Produtos.ProPreco, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div class="form-group has-icon-left">
                                            <label for="first-name-icon">Qtd. Estoque</label>
                                            <div class="position-relative">
                                                <input asp-for="Produtos.ProQuantidadeEmEstoque" required type="text" class="form-control" id="first-name-icon">
                                                @Html.ValidationMessageFor(model => model.Produtos.ProQuantidadeEmEstoque, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div class="form-group has-icon-left">
                                            <p>Imagem</p>
                                            <div class="form-file">
                                                <input type="file" asp-for="Produtos.ProImagemUrl" class="form-file-input" id="customFile" name="arquivo">
                                                @Html.ValidationMessageFor(model => model.Produtos.ProImagemUrl, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <button type="submit" onclick="concluirCadastro()" class="btn btn-success me-1 mb-1">Atualizar produto</button>
                                        <a asp-controller="Produto" asp-action="Index" class="btn btn-danger me-1 mb-1">Voltar</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
