@model SistemaOrcamentario.Models.PessoaModel

@{
    TempData["Title"] = "Excluir Pessoa";
}
<div class="main-content container-fluid">
    <div class="page-title">
        <div class="row">
            <form asp-action="Delete">
                <div class="row match-height">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <h3 class="mb-4">@Html.DisplayFor(Model => Model.PesNome)</h3>
                                    <hr />

                                    <div class="col-sm-3 mb-3 mt-2">
                                        <h6>Data de inclusão</h6>
                                        <div class="form-group position-relative has-icon-right">
                                            @Html.DisplayFor(Model => Model.PesIncEm)
                                            <i class="bi bi-calendar-date"></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-3 mb-3">
                                        <h6>Número telefone</h6>
                                        <div class="form-group position-relative has-icon-left">
                                            @Html.DisplayFor(Model => Model.PesNumCelular)
                                            <i class="bi bi-telephone-fill"></i>
                                        </div>
                                    </div>

                                    <div class="col-sm-3 mb-3">
                                        <h6>Número telefone</h6>
                                        <div class="form-group position-relative has-icon-left">
                                            @Html.DisplayFor(Model => Model.PesNumTelefone)
                                            <i class="bi bi-telephone-fill"></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-3 mb-3">
                                        <h6>CPF</h6>
                                        <div class="form-group position-relative has-icon-left">
                                            @Html.DisplayFor(Model => Model.PesCpf)
                                            <i class="bi bi-box-arrow-right"></i>
                                        </div>
                                    </div>

                                    <div class="col-sm-3 mb-3">
                                        <h6>CNPJ</h6>
                                        <div class="form-group position-relative has-icon-left">
                                            @Html.DisplayFor(Model => Model.PesCnpj)
                                            <i class="bi bi-box-arrow-right"></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6 mb-5">
                                        <h6>E-mail</h6>
                                        <div class="form-group position-relative has-icon-left">
                                            @Html.DisplayFor(Model => Model.PesEmail)
                                            <i class="bi bi-envelope"></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <h3 class="mb-4">Endereço</h3>
                                    <div class="col-sm-3 mb-3">
                                        <h6>CEP</h6>
                                        <div class="form-group position-relative has-icon-left">
                                            @Html.DisplayFor(Model => Model.PesCep)
                                            <i class="bi bi-house"></i>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 mb-3">
                                        <h6>Número</h6>
                                        <div class="form-group position-relative">
                                            @Html.DisplayFor(Model => Model.PesNumero)
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-3 mb-3">
                                        <h6>Rua</h6>
                                        <div class="form-group position-relative">
                                            @Html.DisplayFor(Model => Model.PesRua)
                                        </div>
                                    </div>

                                    <div class="col-sm-3 mb-3">
                                        <h6>Bairro</h6>
                                        <div class="form-group position-relative">
                                            @Html.DisplayFor(Model => Model.PesBairro)
                                        </div>
                                    </div>
                                </div>

                                <div class="row">


                                    <div class="col-sm-3 mb-3">
                                        <h6>Estado</h6>
                                        <div class="form-group position-relative">
                                            @Html.DisplayFor(Model => Model.PesEstado)
                                        </div>
                                    </div>

                                    <div class="col-sm-3 mb-3">
                                        <h6>Cidade</h6>
                                        <div class="form-group position-relative">
                                            @Html.DisplayFor(Model => Model.PesCidade)
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm">
                                        <button class="btn btn-danger" type="submit">Excluir</button>
                                        <a type="button" class="btn btn-primary" asp-controller="Pessoa" asp-action="Index">Cancelar</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>