@model SistemaOrcamentario.Models.ViewModel

@{
    TempData["Title"] = "Detalhes da pessoa";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

    <section class="container">
        <div class="container-fluid">
            <h4>@Html.DisplayFor(model => model.Pessoa.Nome)</h4>
            <hr />
            <dl class="row">
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Pessoa.Cpf)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Pessoa.Cpf)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Pessoa.Cnpj)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Pessoa.Cnpj)
                </dd>
                <dt class = "col-sm-2">
                    <span>Contato</span>
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Pessoa.NumberCellPhone)
                </dd>
                <dt class = "col-sm-2">
                    <span>Contato</span>
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Pessoa.NumberFixPhone)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Pessoa.Email)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Pessoa.Email)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Pessoa.Cep)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Pessoa.Cep)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Pessoa.Rua)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Pessoa.Rua)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Pessoa.Numero)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Pessoa.Numero)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Pessoa.Bairro)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Pessoa.Bairro)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Pessoa.Cidade)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Pessoa.Cidade)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Pessoa.Estado)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Pessoa.Estado)
                </dd>
                <dt class = "col-sm-2">
                    <span>Data de inclusão</span>
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Pessoa.DataInclusao)
                </dd>
            </dl>

            <h4>Orçamento</h4>
            <hr />
            @foreach (var orcamento in Model.Orcamento)
            {   
                <dl class="row">
                    <dt class = "col-sm-2">
                        <span>Data inclusão do orçamento</span>
                    </dt>
                    <dd class="col-sm-10">
                        <span>@Html.DisplayFor(modelItem => orcamento.DataInclusao)</span>
                    </dd>
                    <dt class="col-sm-2">
                        <span>Preço</span>
                    </dt>
                    <dd class="col-sm-10">
                        <span>@Html.DisplayFor(modelItem => orcamento.Preco)</span>
                    </dd>
                    <dt class="col-sm-2">
                        <span>Forma de pagamento</span>
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(modelItem => orcamento.TipoPagamento)
                    </dd>
                    <dt class="col-sm-2">
                        <span>Tipo de entrega</span>
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(modelItem => orcamento.TipoEntrega)
                    </dd>
                    <dt class="col-sm-2">
                        <span>Observação</span>
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(modelItem => orcamento.Observacoes)
                    </dd>
                    <dt class="col-sm-2">
                        <span>Descrição do orçamento</span>
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(modelItem => orcamento.Descricao)
                    </dd>
                </dl>    
             }   
        </div>
        <div>
            <a class="btn btn-primary" asp-action="Edit" asp-route-id="Model.Pessoa.ID">Editar</a> 
            <a class="btn btn-danger" asp-action="Index">Voltar</a>
        </div>
    </section>
</body>
</html>
