@model IEnumerable<PessoaModel>

<div class="card-body">

    <a class="btn btn-success btn-lg " onclick="Alert" asp-controller="Pessoa" asp-action="Create"><i class="bi bi-file-earmark-plus mx-2"></i>Cadastrar nova Pessoa</a>
    <br /><br />
    @if (TempData["MessageSuccess"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show">
            <button type="button" class="btn btn-danger" data-dismiss="alert" arial-label="Close">X</button>
            @TempData["MessageSuccess"]
        </div>

    }

    @if (TempData["MessageErro"] != null)
    {
        <div class="alert alert-danger">
            <button type="button" class="btn btn-danger" data-dismiss="alert" arial-label="Close">X</button>
            @TempData["MessageErro"]
        </div>

    }

    <div class="card-body">
        <div class="table-responsive">
            <table class='table table-sm table-striped' id="table1">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Nome</th>
                        <th>Data</th>
                        <th>Orçamentos</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        @foreach (var pessoa in Model)
                        {
                            <tr>
                                <th scope="row">@pessoa.PesId</th>
                                <td> @pessoa.PesNome</td>
                                <td>@pessoa.PesIncEm</td>
                                <td>
                                    @if (pessoa.Orcamentos != null && pessoa.Orcamentos.Any())
                                    {
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#info" onclick="capturar(@pessoa.PesId)" class="btn btn-info btn-sm">
                                            @pessoa.Orcamentos.Count()
                                        </a>
                                    }
                                    else
                                    {
                                        <a href="#" class="btn btn-secondary btn-sm btn-total-orcamentos">0</a>
                                    }
                                </td>
                                <td>
                                    <a class="btn btn-primary btn-sm mx-1 " data-toggle="tooltip" data-placement="top" title="Detalhes" asp-controller="Pessoa" asp-action="Details" asp-route-id="@pessoa.PesId"><i class="bi bi-eye mx-2"></i>Detalhes</a>
                                    <a class="btn btn-success btn-sm mx-1" data-toggle="tooltip" data-placement="top" title="Incluir Orçamento" asp-controller="Orcamento" asp-action="Create" asp-route-id="@pessoa.PesId"><i class="bi bi-file-earmark-plus mx-2"></i>Incluir Orçamento</a>
                                    <a class="btn btn-danger btn-sm mx-1" data-bs-toggle="modal" data-bs-target="#apagar-@pessoa.PesId"><i class="bi bi-trash mx-2"></i>Excluir</a>
                                    <a class="btn btn-warning btn-sm mx-1" data-toggle="tooltip" data-placement="top" title="Imprimir" asp-controller="Relatorio" asp-action="GerarPDF" asp-route-id="@pessoa.PesId"><i class="bi bi-printer-fill mx-2"></i>Imprimir</a>

                                    <!--Modal de exclusão-->
                                    <div class="modal fade text-left" id="apagar-@pessoa.PesId" tabindex="-1" role="dialog"
                                         aria-labelledby="myModalLabel120" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header bg-danger">
                                                    <h5 class="modal-title white" id="myModalLabel120"><b>Excluir cliente</b></h5>
                                                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                                        <i data-feather="x"></i>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    Deseja realmente excluir cliente <b>@pessoa.PesNome ?</b>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-light-secondary" data-bs-dismiss="modal">
                                                        <i class="bx bx-x d-block d-sm-none"></i>
                                                        <span class="d-none d-sm-block">Não</span>
                                                    </button>
                                                    <a class="btn btn-danger ml-1" data-toggle="tooltip" data-placement="top" title="Excluir usuário" asp-controller="Pessoa" asp-action="Delete" asp-route-id="@pessoa.PesId">
                                                        <i class="bx bx-check d-block d-sm-none"></i>Sim
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>

            <!--info theme Modal -->
            <div class="modal fade text-left" id="info" tabindex="-1" role="dialog"
                 aria-labelledby="myModalLabel130" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                    <div class="modal-content">
                        <div class="modal-header bg-info">
                            <h5 class="modal-title white" id="myModalLabel130">Info Modal</h5>
                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                <i data-feather="x"></i>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div id="ListaOrcamento"></div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-info ml-1" data-bs-dismiss="modal">
                                <i class="bx bx-check d-block d-sm-none"></i>
                                <span class="d-none d-sm-block">Voltar</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
