@model IEnumerable<UsuarioModel>

<div class="card-body">
    @if (TempData["MessageErro"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" data-bs-dismiss="alert" arial-label="Close">X</button>
            @TempData["MessageErro"]
        </div>
    }

    @if (TempData["MessageSuccess"] != null)
    {
        <div class="alert alert-success" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" data-bs-dismiss="alert" arial-label="Close">X</button>
            @TempData["MessageSuccess"]
        </div>
    }
    <a class="btn btn-success btn-lg " onclick="Alert" asp-controller="Usuario" asp-action="Create"><i class="bi bi-file-earmark-plus mx-2"></i>Cadastrar nova Usuário</a>

    <div class="card-body">
        <div class="table-responsive">
            <table class='table table-sm table-striped' id="table1">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Nome</th>
                        <th>Login</th>
                        <th>Perfil</th>
                        <th>Email</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        @foreach (var usuario in Model)
                        {
                            <tr>
                                <th scope="row">@usuario.UsuId</th>
                                <td>@usuario.UsuNome</td>
                                <td>@usuario.UsuLogin</td>
                                <td>@usuario.UsuPerfil</td>
                                <td>@usuario.UsuEmail</td>
                                <td>
                                    <span class="badge bg-success">Ativo</span>
                                </td>
                                <td>
                                    <a class="btn btn-primary btn-sm mx-1" data-toggle="tooltip" data-placement="top" title="Editar usuário" asp-controller="Usuario" asp-action="Edit" asp-route-id="@usuario.UsuId"><i class="bi bi-pencil-square mx-2"></i>Editar</a>
                                    <a class="btn btn-danger btn-sm mx-1" data-toggle="tooltip" data-placement="top" title="Deletar Pessoa" asp-controller="Usuario" asp-action="Delete" asp-route-id="@usuario.UsuId"><i class="bi bi-trash mx-2"></i>Apagar</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

