@model IEnumerable<UsuarioModel>

<div class="card-body">
    <a class="btn btn-success btn-lg " onclick="Alert" asp-controller="Usuario" asp-action="Create"><i class="bi bi-file-earmark-plus mx-2"></i>Cadastrar nova Usuário</a>

    <div class="card-body">
        <div class="table-responsive">
            <table class='table table-sm table-striped' id="table1">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Nome</th>
                        <th>Login</th>
                        <th>Perfil</th>
                        <th>Email</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        @foreach (var usuario in Model)
                        {
                            <tr>
                                <th scope="row">@usuario.UsuId</th>
                                <td>@usuario.UsuNome</td>
                                <td>@usuario.UsuLogin</td>
                                <td>@usuario.UsuPerfil</td>
                                <td>@usuario.UsuEmail</td>
                                <td>
                                    <span class="badge bg-success">Ativo</span>
                                </td>
                                <td>
                                    <a class="btn btn-warning btn-sm mx-1" data-toggle="tooltip" data-placement="top" title="Editar usuário" asp-controller="Usuario" asp-action="Edit" asp-route-id="@usuario.UsuId"><i class="bi bi-pencil-square mx-2"></i>Atualizar</a>
                                    <a class="btn btn-danger btn-sm mx-1" onclick="displayAlert(@usuario.UsuId, event)" asp-controller="Usuario" asp-action="Delete" asp-route-id="@usuario.UsuId">Excluir</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts{
    @if (TempData["MessageSuccess"] != null)
    {
        <script>Swal.fire('Sucesso', '@TempData["MessageSuccess"]', 'success');</script>
    }

    @if (TempData["MessageErro"] != null)
    {
        <script>Swal.fire('Erro', '@TempData["MessageError"]', 'error');</script>
    }
    <script>
        function displayAlert(usuId, event) {
            event.preventDefault();  // Evita o comportamento padrão do link

            Swal.fire({
                title: "Tem certeza?",
                text: "Você não será capaz de reverter isso!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Sim!"
            }).then((result) => {
                if (result.isConfirmed) {
                    // Se o usuário confirmar, redirecione para a ação de exclusão
                    window.location.href = event.target.href;
                }
            });
        }
    </script>
}
